@import '../../../variables';

.Button {
  width: 192px;
  height: 48px;
  border-radius: 16px;

  @media (max-width: 768px) {
    width: 152px;
    height: 44px;
    font-size: 20px;
  }

  font-size: 24px;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;

  background-color: #FFE321;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border: none;

  &:focus {
    outline: 1px solid $darkBackground;
  }
}
