@import '../../../variables';

.Button {
  width: 192px;
  height: 48px;
  border-radius: 16px;

  font-size: 24px;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;

  background-color: #FFE321;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border: none;

  @media (max-width: 1000px) {
    font-size: 18px;
  }

  @media (max-width: 768px) {
    width: 128px;
    height: 36px;
    font-size: 16px;
  }

  transition: color 0.2s linear;

  &:hover {
    color: rgba(0, 0, 0, 0.5);
  }

  &:focus {
    outline: 1px solid $darkBackground;
  }
}
