@import '../../../variables';

.Form {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 768px) {
    display: block;
    order: 2;
  }

  &__header {
    font-family: 'Nunito', sans-serif;
    font-size: 48px;
    font-weight: 700;
    font-style: italic;
    margin: 0 0 32px 0;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 16px;
      margin: 0 0 16px 0;
      color: $darkBackground;
    }
  }

  &__container {
    display: flex;
    margin-bottom: 16px;

    @media (max-width: 768px) {
      display: block;
      text-align: center;
    }
  }

  &__box {
    background-color: $formBoxColor;
    border: 2px solid $yellowLight;
    width: 240px;
    height: 50px;
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      display: block;
      width: 240px;
      height: 40px;
      margin-bottom: 12px;

      background-color: $darkBackground;
      border: 2px solid $yellowLight;
    }

    &--topic {
      margin-right: 24px;
      @media (max-width: 768px) {
        margin-right: 0;
      }
    }
  }

  &__label {
    font-size: 12px;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 4px;
    color: rgba(23, 24, 32, 0.5);
    font-family: "Nunito", sans-serif;

    @media (max-width: 768px) {
      padding: 0 4px 0 0;
      color: $lightBackground;
    }
  }

  &__input {
    background-color: $formBoxColor;
    border: none;
    width: 144px;
    font-family: "Nunito", sans-serif;
    &:focus {
      outline: 1px solid $darkBackground;
    }
    @media (max-width: 768px) {
      background-color: $darkBackground;
      color: $lightBackground;
      &:focus {
        outline: 1px solid $lightBackground;
      }
    }
  }

  &__textarea {
    width: 500px;
    height: 132px;
    box-sizing: border-box;
    background-color: $formBoxColor;
    border: 2px solid $yellowLight;
    padding: 8px;
    margin-bottom: 16px;
    font-size: 16px;
    resize: none;

    @media (max-width: 768px) {
      font-size: 12px;
      margin-bottom: 12px;
      height: 112px;
      background-color: $darkBackground;
      color: $lightBackground;
    }

    &::placeholder {
      font-size: 16px;
      font-weight: 600;
      color: rgba(23, 24, 32, 0.5);
      font-family: "Nunito", sans-serif;
      @media (max-width: 768px) {
        font-size: 12px;
        color: $lightBackground;
      }
    }

    &-fieldset {
      border: none;
      margin: 0;
      padding: 0;
    }

    @media (max-width: 768px) {
      width: 240px;
    }
  }

  &__button-box {
    align-self: flex-start;
    @media (max-width: 768px) {
      text-align: center;
    }
  }
}
