.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $about-us-section;

  &__header {
    margin: 120px 0 140px;
    font-size: 64px;

    @media(max-width: $tablet) {
      margin: 80px 0 100px;
      font-size: 48px;
    }

    @media(max-width: $tablet) {
      margin: 60px 0 80px;
      font-size: 32px;
    }
  }

  &__article {
    display: flex;
    max-width: 1200px;
    justify-content: center;
    margin-bottom: 64px;
    position: relative;

    @media(max-width: $tablet) {
      margin-bottom: 48px;
      padding: 0 16px;
    }

    @media(max-width: $mobile) {
      margin-bottom: 32px;
      padding: 0 12px;
    }

    &--even {
      justify-content: flex-end;
    }
    &--last {
      margin-bottom: 150px;

      @media(max-width: $tablet) {
        margin-bottom: 120px;
      }

      @media(max-width: $mobile) {
        margin-bottom: 80px;
      }
    }
  }

  &__image {
    width: 400px;
    height: 520px;
    @media(max-width: $tablet) {
      width: 280px;
      height: 360px;
    }
    @media(max-width: $mobile) {
      display: none;
    }
  }

  &__content {
    max-width: 360px;
    order: 1;
    margin-left: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @media(max-width: $tablet) {
      margin-left: 60px;
      max-width: 360px;
    }

    @media(max-width: $mobile) {
      margin-left: 0;
      max-width: 200px;
      margin-bottom: 32px;
    }

    &--left {
      text-align: center;
      order: 0;
      margin-left: 0;
      margin-right: 80px;

      @media(max-width: $tablet) {
        margin-right: 60px;
      }

      @media(max-width: $tablet) {
        margin-right: 0;
      }
    }

    &-header {
      font-size: 36px;
      margin: 0 0 64px 0;

      @media(max-width: $tablet) {
        font-size: 32px;
        margin: 0 0 48px 0;
      }

      @media(max-width: $mobile) {
        font-size: 20px;
        line-height: 26px;
        margin: 0 0 24px 0;
        text-align: center;
      }
    }

    &-paragraph {
      font-size: 24px;
      margin: 0;

      @media(max-width: $tablet) {
        font-size: 18px;
      }

      @media(max-width: $mobile) {
        font-size: 16px;
        text-align: center;
      }
    }
  }
}



.decoration-1, .decoration-2 {
  position: absolute;
  font-size: 32px;
  padding: 4px;
  @media(max-width: $tablet) {
    font-size: 24px;
  }
  @media(max-width: $mobile) {
    display: none;
  }
}

.decoration-1 {
  top: -22px;
  left: 16px;
  color: $image-header-font-1;
  background-color: $image-header-background-1;

  @media(max-width: $tablet) {
    left: 24px;
  }
}

.decoration-2 {
  top: -22px;
  right: 16px;
  color: $image-header-font-2;
  background-color: $image-header-background-2;

  @media(max-width: $tablet) {
    right: 24px;
  }
}
