.hero {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;

  &__left {
    align-self: flex-end;
    margin-bottom: 10vh;
    position: relative;
  }
  &__window {
    position: absolute;
    top: -340px;
    left: -440px;
    width: 700px;
    height: auto;
  }
  &__man {
    width: 478px;
    height: auto;
    transform: rotateY(180deg);
  }

  &__right {
    margin-top: 64px;
    align-self: flex-start;
    position: relative;
  }
  &__lamp {
    z-index: -1;
    width: 400px;
    height: auto;
    &-background {
      fill: transparent;
    }
    &-light {
      fill: #fffbc4;
      filter: blur(14px);
    }
    &-bulb {
      fill:#282828;
      stroke:#D2DC00;
      stroke-width:3;
      stroke-miterlimit:10;
    }
    &-horizontal-stick {
      fill:#282828;

    }
    &-vertical-stick {
      fill:#282828;
      stroke:#FFDC00;
      stroke-miterlimit:10;
    }
    &-case {
      fill: #282828;
      stroke: #D2DC00;
      stroke-width: 3;
      stroke-miterlimit: 10;
    }
    &-stick-case {
      fill: #282828;
      stroke: #D2DC00;
      stroke-width: 2.52;
      stroke-miterlimit: 10;
    }
  }

  &__content {
    position: absolute;
    top: 334px;
    left: 36px;
  }

  &__header {
    font-size: 64px;
    text-align: center;
    margin: 0 0 24px 0;
  }

  &__paragraph {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    max-width: 400px;
  }
}
