.offert {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $offerts-section;

  &__header {
    margin: 120px 0 140px;
    font-size: 64px;
  }

  &__article {
    display: flex;
    width: 1144px;
    justify-content: center;
    margin-bottom: 64px;
    position: relative;

    &--even {
      justify-content: flex-end;
    }

    &--last {
      margin-bottom: 150px;
    }
  }

  &__image {
  }

  &__content {
    max-width: 482px;
    order: 1;
    margin-left: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    &--left {
      text-align: center;
      order: 0;
      margin-left: 0;
      margin-right: 80px;
    }

    &-header {
      font-size: 36px;
      margin: 0 0 64px 0;
    }

    &-paragraph {
      font-size: 24px;
      margin: 0;
    }
  }
}



.decoration-3, .decoration-4, .decoration-5, .decoration-6, .decoration-7 {
  position: absolute;
  font-size: 32px;
  padding: 4px;
}

.decoration-3 {
  top: -22px;
  left: 48px;
  color: $image-header-font-3;
  background-color: $image-header-background-3;
}

.decoration-4 {
  top: -22px;
  right: 30px;
  color: $image-header-font-4;
  background-color: $image-header-background-4;
}

.decoration-5 {
  top: -22px;
  left: 48px;
  color: $image-header-font-5;
  background-color: $image-header-background-5;
}

.decoration-6 {
  top: -22px;
  right: 16px;
  color: $image-header-font-6;
  background-color: $image-header-background-6;
}

.decoration-7 {
  top: -22px;
  left: 48px;
  color: $image-header-font-7;
  background-color: $image-header-background-7;
}
