.prices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $prices-section;

  &__header {
    font-size: 64px;
    margin: 120px 0;

    @media(max-width: $tablet) {
      margin: 80px 0;
      font-size: 48px;
    }
  }

  &__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1060px;
    margin: 0 0 64px 0;
    @media(max-width: $tablet) {
      margin: 0 0 48px 0;
      max-width: 680px;
    }

    &--last {
      margin-bottom: 150px;
      @media(max-width: $tablet) {
        margin-bottom: 120px;
      }
    }

    &-container {
      display: flex;
      align-items: center;
    }

    &-header {
      margin: 0 0 64px 0;
      font-size: 36px;
      @media(max-width: $tablet) {
        margin: 0 0 48px 0;
        font-size: 24px;
      }
    }

    &-list {
      list-style: none;
      padding: 0;
      margin: 0 80px 0 0;
      @media(max-width: $tablet) {
        margin: 0 64px 0 0;
      }
    }

    &-image {
      @media(max-width: $tablet) {
        width: 400px;
        height: 500px;
      }
    }

    &-item {
      font-size: 24px;
      padding-bottom: 16px;
      position: relative;

      @media(max-width: $tablet) {
        font-size: 16px;
        padding-bottom: 8px;
      }

      &:before {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 8px;
        left: -24px;
        border-radius: 50%;
        @media(max-width: $tablet) {
          width: 8px;
          height: 8px;
          top: 4px;
          left: -18px;
        }
      }

      &--green {
        &:before {
          background-color: $dot-1;
        }
      }
      &--yellow {
        &:before {
          background-color: $dot-2;
        }
      }
      &--red {
        &:before {
          background-color: $dot-3;
        }
      }
    }
  }
}
