.site-header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $nav-header;
  width: 100%;
  z-index: 6;
  box-shadow: 0px 12px 26px -6px rgba(136, 136, 139, 0.25);
}

.navigation {
  font-family: 'Nunito', sans-serif;
  display: flex;
  align-items: center;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }

  &__container {
    display: flex;
    justify-content: space-around;
    width: 70vw;
    @media(max-width: $mobile) {
      max-width: 180px;
      display: none;
      flex-direction: column;
      align-items: center;
      background-color: $nav-header;
      margin-top: 120px;
      box-shadow: 0px 12px 26px -6px rgba(136, 136, 139, 0.25);
    }
  }

  &__button {
    display: none;
    font-size: 16px;
    text-align: center;
    min-width: 64px;
    border: none;
    background: none;
    color: white;
    font-family: 'Nunito', sans-serif;
    @media(max-width: $mobile) {
      display: block;
    }
  }

  &__item {
    font-size: 24px;
    @media(max-width: $tablet) {
      font-size: 20px;
      padding-bottom: 20px;
    }
  }

  &__home {
    padding-left: 24px;
    @media(max-width: $tablet) {
      padding-left: 20px;
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: #fefefe;
    transition: transform .4s ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.home-icon {
  @media(max-width: $tablet) {
    width: 28px;
    height: 28px;
  }
}

.open-nav {
  display: flex;
}
