.site-header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $nav-header;
  width: 100%;
  z-index: 6;
  box-shadow: 0px 12px 26px -6px rgba(136, 136, 139, 0.25);
}

.navigation {

  font-family: 'Nunito', sans-serif;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }

  &__container {
    display: flex;
    justify-content: space-around;
    width: 70vw;
  }

  &__item {
    font-size: 24px;
  }

  &__home {
    padding-left: 24px;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: #fefefe;
    transition: transform .4s ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
  }
}
