@import '../../../variables';

@keyframes sliderAnimation {
  0% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.Slider {
  font-weight: 800;
  font-style: italic;
  font-family: "Nunito", sans-serif;
  color: white;
  text-align: center;
  font-size: 64px;
  padding: 0 16px;
  max-width: 560px;

  animation: sliderAnimation infinite ease-in-out 2.5s;

  @media (max-width: 1200px) {
    font-size: 48px;
  }

  @media (max-width: 1000px) {
    font-size: 36px;
  }

  @media (max-width: 768px) {
    font-weight: 300;
    font-size: 24px;
  }

  &__yellow {
    color: $yellowLight;
    background: -webkit-gradient(linear, bottom top, right top, from(#FFE321),to(#F5C001));
    background: linear-gradient(180deg, #FFE321 0%, #F5C001 85.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
}
