@import '../../../variables';

.Slider {
  font-weight: 800;
  font-style: italic;
  font-family: "Nunito", sans-serif;
  color: white;
  text-align: center;
  font-size: 72px;

  &__yellow {
    color: $yellowLight;
    background: -webkit-gradient(linear, bottom top, right top, from(#FFE321),to(#F5C001));
    background: linear-gradient(180deg, #FFE321 0%, #F5C001 85.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
}
