@import "../../../variables";

.Banner {
  background-color: $yellowLight;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 16vh;
  width: 100%;

  &__paragraph {
    color: $darkBackground;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
  }

  &__bar {
    font-size: 18px;
    color: $darkBackground;
    border: 2px solid $darkBackground;
    border-radius: 4px;
    width: 280px;

    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__icon {
    width: 32px;
    height: 32px;
  }
}
