@import "../../../variables";

.Banner {
  background: -webkit-gradient(linear, bottom top, right top, from(#FFE321),to(#F5C001));
  background: linear-gradient(180deg, #FFE321 0%, #F5C001 85.94%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 16vh;
  width: 100%;

  &__paragraph {
    color: black;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
  }

  &__bar {
    font-size: 18px;
    color: black;
    border: 2px solid black;
    width: 280px;

    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__icon {
    width: 32px;
    height: 32px;
  }
}
