@import "../../../../variables";

.FreePricingForm {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__checkbox-fieldset {
    padding: 0;
    margin: 0 0 32px 0;
    border: none;
  }

  &__checkbox-legend {
    text-align: center;
    font-weight: 300;
    margin-bottom: 16px;
  }

  &__checkbox-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }

  &__checkbox-paragraph {
    font-size: 12px;
    margin: 0;
    display: flex;
    align-items: center;
  }

  &__checkbox-input {
    // style on the bottom file
  }

  &__checkbox-label {
    font-weight: 200;
    max-width: 200px;
    line-height: 20px;
  }

  &__container {
    display: flex;
    margin-bottom: 16px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__data-rectangle {
    background-color: $formBoxColor;
    border: 4px solid $yellowLight;
    max-width: 280px;
    width: 12vw;
    height: 60px;
    margin-bottom: 24px;

    &--last {
      margin-bottom: 0;
    }

    @media (max-width: 768px) {
      border: 2px solid $yellowLight;
      width: 230px;
      height: 50px;
      margin: 0 0 12px 0;
      background-color: $darkBackground;
    }
  }

  &__label {
    font-size: 16px;
    font-weight: 600;
    padding: 0 0 0 12px;
    color: #171820;
    font-family: "Nunito", sans-serif;
    display: block;

    @media (max-width: 768px) {
      font-size: 12px;
      padding: 0 0 0 6px;
      color: white;
    }
  }

  &__input {
    background-color: $formBoxColor;
    border: none;
    max-width: 240px;
    width: 10vw;
    font-family: "Nunito", sans-serif;

    @media (max-width: 768px) {
      width: 180px;
      background-color: $darkBackground;
    }

    &:focus {
      outline: 1px solid $darkBackground;
      @media (max-width: 768px) {
        outline: 1px solid $formBoxColor;
      }
    }
  }

  &__textarea {
    width: 30vw;
    height: 228px;
    box-sizing: border-box;
    background-color: $formBoxColor;
    border: 4px solid $yellowLight;
    padding: 8px;
    margin: 0 32px 0 0;
    font-size: 16px;
    resize: none;

    @media (max-width: 768px) {
      width: 230px;
      height: 300px;
      background-color: $darkBackground;
      border: 2px solid $yellowLight;
      padding: 0;
      margin: 0;
    }

    &::placeholder {
      font-size: 16px;
      font-weight: 600;
      color: #171820;
      font-family: "Nunito", sans-serif;

      @media (max-width: 768px) {
        font-size: 12px;
        color: white;
      }
    }

    &-fieldset {
      border: none;
      margin: 0;
      padding: 0;
      @media (max-width: 768px) {
        text-align: center;
      }
    }
  }

  &__button-container {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__agree {
    margin: 0 0 0 36px;
    max-width: 440px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 100;
    font-style: italic;

    @media (max-width: 768px) {
      font-size: 12px;
      max-width: 260px;
      text-align: center;
      margin:  0 0 16px 0;
      line-height: 16px;
      order: -1;
    }
  }
}

input[type=checkbox] {
  width: 32px;
  height: 32px;
  order: -1;
  margin: 0 24px 0 0;
  position: relative;
  cursor: pointer;
}

input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  top: -2px;
  left: -2px;
  border: 2px solid white;
  border-radius: 8px;
  background-color: $darkBackground;
}

input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 10px;
  height: 18px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 4px;
  left: 10px;
}
