@import "../../../variables";

.Navigation {
  width: 100%;
  height: 48px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  &__nav {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
  }

  &__left {
    height: 100%;
    width: 50%;
    background-color: rgba($lightBackground, 0.8);
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__home {
    margin-left: 32px;
  }

  &__image {
    width: auto;
    height: 44px;
  }

  &__right {
    height: 100%;
    width: 50%;
    background-color: rgba($darkBackground, 0.8);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__list {
    padding: 0;
    margin: 0 80px 0 0;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__item {
    list-style: none;
    margin: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &--offer {
      position: relative;
      &:hover {
        height: 176px;
      }
      &:hover .Navigation__sublist {
        display: block;
        z-index: 1;
      }
    }
    &--subitem {
      margin: 16px 0 0 0;
      padding: 0 8px;
      text-align: center;
    }
  }

  &__sublist {
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 112px;
    left: -26px;
    background-color: rgba($darkBackground, 0.8);
  }

  &__link {
    font-size: 16px;
    font-weight: 800;
    color: $lightBackground;
    text-decoration: none;

    transition: color 0.4s ease-in-out;

    &:hover {
      color: $yellowDark !important;
    }

    &--sublink {
      margin: 0;
      font-size: 14px;
      line-height: 22px;
    }
  }
}
