@import "src/variables";

.MiniContact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: $darkBackground;

  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
  }

  &__paragraph {
    margin: 0 32px 0 0;
    color: white;
    font-size: 16px;
    @media (max-width: 768px) {
      margin: 0 0 16px 0;
    }
  }

  &__link {
    margin: 0 32px 0 0;
    color: $yellowLight;
    background: -webkit-gradient(linear, bottom top, right top, from(#FFE321),to(#F5C001));
    background: linear-gradient(180deg, #FFE321 0%, #F5C001 85.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-decoration: none;

    @media (max-width: 768px) {
      margin: 0 0 16px 0;
    }

    &--bigger-margin {
      margin: 0 76px 0 0;
      @media (max-width: 768px) {
        margin: 0 0 16px 0;
      }
    }
  }
}