@import "src/variables";

.FreePricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 50vw;
  background-color: $darkBackground;

  &__header {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    color: white;
    margin: 0;
    padding: 0 0 24px 0;
    text-align: center;
    max-width: 600px;
  }

  &__paragraph {
    color: white;
    margin: 0;
    padding-bottom: 32px;
    text-align: center;
    max-width: 600px;
    font-weight: 300;
    line-height: 22px;
  }
}