@import "src/variables";

.Contact {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 60vh;
  background-color: $darkBackground;

  &__container {
    text-align: center;
  }

  &__header {
    font-family: 'Nunito', sans-serif;
    font-size: 48px;
    font-style: italic;
    color: white;
    margin: 0 0 72px 0;
  }

  &__link {
    display: block;
    font-size: 48px;
    font-weight: 700;
    text-decoration: none;
    margin: 0 0 48px 0;
    color: $yellowLight;
    background: -webkit-gradient(linear, bottom top, right top, from(#FFE321),to(#F5C001));
    background: linear-gradient(180deg, #FFE321 0%, #F5C001 85.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
}
