@import "../../../variables";

.Contact {
  width: 30vw;
  background-color: $darkBackground;
  margin-bottom: 16px;
  box-shadow: 6px 5px 6px 0 rgba(0, 0, 0, 0.25);
  border: 4px solid $yellowLight;
  height: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 1000px) {
    padding: 16px;
  }

  @media (max-width: 768px) {
    border: 2px solid $yellowLight;
    width: 230px;
    height: 195px;
    margin: 0;
    order: 1;
  }

  &__paragraph {
    display: inline-block;
    font-size: 20px;
    margin: 0 0 12px 0;
    color: rgba(235, 240, 242, 1);
    font-family: "Nunito", sans-serif;

    @media (max-width: 1000px) {
      font-size: 16px;
    }

    @media (max-width: 768px) {
      font-size: 16px;
      margin: 0 0 6px 0;
    }
  }

  &__link {
    display: block;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    margin: 0 0 24px 0;
    color: $yellowLight;
    background: -webkit-gradient(linear, bottom top, right top, from(#FFE321),to(#F5C001));
    background: linear-gradient(180deg, #FFE321 0%, #F5C001 85.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    @media (max-width: 1000px) {
      font-size: 16px;
    }

    @media (max-width: 768px) {
      font-size: 16px;
      margin: 0 0 12px 0;
    }
  }
}
