@import "../../../variables";

.Contact {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 60vh;
  background-color: $darkBackground;

  @media (max-width: 768px) {
    height: 110vh;
    flex-direction: column;
    background: linear-gradient(180deg, #D7D7D7 35.94%, #D7D7D7 59.37%, rgba(23, 24, 32, 0.85) 78.65%, #171820 93.23%);
  }

  &__container {
    text-align: center;
  }

  &__header {
    font-family: 'Nunito', sans-serif;
    font-size: 48px;
    font-style: italic;
    color: white;
    margin: 0 0 36px 0;
    @media (max-width: 768px) {
      font-size: 16px;
      margin-bottom: 16px;
      color: $darkBackground;
    }
  }

  &__box {
    @media (max-width: 768px) {
      background-color: $darkBackground;
      padding: 12px 16px;
      margin-bottom: 24px;
      box-shadow: 6px 5px 6px 0 rgba(0, 0, 0, 0.25);
      border: 2px solid $yellowLight;
    }
  }

  &__paragraph {
    display: none;
    @media (max-width: 768px) {
      display: inline-block;
      font-size: 16px;
      margin: 0 0 12px 0;
      color: rgba(235, 240, 242, 1);
      font-family: "Nunito", sans-serif;
    }
  }

  &__link {
    display: block;
    font-size: 48px;
    font-weight: 700;
    text-decoration: none;
    margin: 0 0 24px 0;
    color: $yellowLight;
    background: -webkit-gradient(linear, bottom top, right top, from(#FFE321),to(#F5C001));
    background: linear-gradient(180deg, #FFE321 0%, #F5C001 85.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    @media (max-width: 768px) {
      font-size: 16px;
      margin-bottom: 12px;
    }
  }
}
