@import "src/variables";

.TitleViewMobile {
  background-color: $lightBackground;
  padding: 96px 0;
  width: 100%;
  height: 100vh;
  text-align: center;

  &__image {
    width: 224px;
    height: auto;
  }
}