@import "src/variables";

.PricingDesktop {
  display: flex;
}

.test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $lightBackground;
  width: 50vw;
}