@import "src/variables";

.PackageUav {
  background-color: $darkBackground;
  padding: 64px;
  display: flex;
  justify-content: center;
  position: relative;

  @media (max-width: 768px) {
    display: block;
    padding: 16px;
  }

  &__decorate {
    position: absolute;
    top: 20%;
    left: 0;
    background-color: $lightBackground;
    width: 100%;
    height: 60%;
    z-index: 1;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__container {
    background: linear-gradient(177.03deg, #FFE321 37.13%, #F5C001 69.08%);
    padding: 16px;
    border: dashed 3px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 530px;
    z-index: 2;

    @media (max-width: 768px) {
      display: block;
      width: auto;
    }
  }

  &__header {
    font-size: 32px;
    font-style: italic;
    font-weight: 600;
    margin: 0 0 16px 0;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  &__paragraph {
    max-width: 460px;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 16px 0;
    text-align: center;

    @media (max-width: 768px) {
      max-width: 240px;
      line-height: 20px;
    }
  }

  &__footer {
    font-size: 12px;
    text-align: center;
    position: relative;
    margin: 0 0 16px 0;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 18px;
      left: 44%;
      width: 16px;
      height: 15px;
      background: url("./../../../assets/arrow.svg");
    }

    @media (max-width: 768px) {
      font-size: 10px;
      padding: 0 0 10px 0;

      &:after {
        left: 48%;
      }
    }
  }
}