$white: #fff;
$black: #000;

$nav-header: #111111;
$about-us-section: #222;
$offerts-section: #121212;
$prices-section: #222;
$contact-section: #121212;
$footer: #010101;

$image-header-background-1: #93350C;
$image-header-font-1: #999999;
$image-header-background-2: #2E0F0F;
$image-header-font-2: #999999;
$image-header-background-3: #111D3C;
$image-header-font-3: #D7EB87;
$image-header-background-4: #322FA7;
$image-header-font-4: #79C0DE;
$image-header-background-5: #0E3E19;
$image-header-font-5: #BFE525;
$image-header-background-6: #191784;
$image-header-font-6: #0AF213;
$image-header-background-7: #43290A;
$image-header-font-7: #CC7878;

$dot-1: #274E2B;
$dot-2: #96D117;
$dot-3: #CB2C22;

$tablet: 1280px;
$mobile: 768px;
