@import "src/variables";

.HomepageMobile {
  &__Slider-container {
    height: 50vh;
    background-color: $darkBackground;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}