@import "../../../variables";

.Footer {
  width: 100%;
  height: 60vh;
  background-color: $darkBackground;

  &__header {
    font-family: 'Nunito', sans-serif;
    font-size: 48px;
    font-weight: 700;
    font-style: italic;
    margin: 0;
    padding: 24px 0 32px 14vw;
    color: white;
  }

  &__container {
    height: 38vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}